.courses .heading {
  margin-bottom: 10px; }

.courses h2 {
  margin-top: 0; }

.courses span[class^='glyphicon'] {
  margin-right: 8px; }

.courses table thead th:last-child, .courses table thead td:last-child, .courses table tbody th:last-child, .courses table tbody td:last-child {
  text-align: right; }

.courses table tbody tr:hover {
  cursor: pointer;
  /* this could be used to highlight the edit anchor when row hovered */ }
  .courses table tbody tr:hover .details {
    /*text-decoration: underline;*/ }

