<div class="course" ng-controller="CourseCtrl as vm">
    <form name="course" novalidate class="form-group-sm">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Course Information
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row" ng-if="vm.ErrorMessage!=null && vm.ErrorMessage.length>0">
                        <div class="col-md-8">
                            <div class="alert alert-danger">
                                <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; {{vm.ErrorMessage}}
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': course.name.$touched && course.name.$invalid }">
                                <label for="name" class="control-label">Course Name *</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-font"></span></span>
                                    <input type="text" ng-model="vm.course.Name"
                                           id="name"
                                           class="form-control"
                                           placeholder="Course Name"
                                           name="name" required @*autofocus*@ />
                                </div>
                            </div>
                            <div class="alert alert-danger well-sm" ng-show="course.name.$touched && course.name.$error.required" 
                                 ng-messages="course.name.$error">
                                <div ng-messages-include="@Url.Content("~/app/views/messages.cshtml")"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': course.description.$touched && course.description.$invalid }">
                                <label for="description" class="control-label">Description *</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-bold"></span></span>
                                    <input type="text" ng-model="vm.course.Description"
                                           id="description"
                                           class="form-control"
                                           placeholder="Description" 
                                           name="description" required />
                                </div>
                            </div>
                            <div class="alert alert-danger well-sm" ng-show="course.description.$touched && course.description.$error.required"
                                 ng-messages="course.description.$error">
                                <div ng-messages-include="@Url.Content("~/app/views/messages.cshtml")"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': course.duration.$touched && course.duration.$invalid }">
                                <label for="duration" class="control-label">Duration</label>
                                <select class="form-control"
                                        id="duration"
                                        name="duration"
                                        ng-model="vm.course.Duration"
                                        ng-options="d.Value as d.Name for d in vm.durations">
                                    @*<option value="">Select a Duration</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error': course.cost.$touched && course.cost.$invalid }">
                                <label for="cost" class="control-label">Cost </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                    <input type="text" ng-model="vm.course.Cost"
                                           id="cost"
                                           @*ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"*@
                                           class="form-control"
                                           placeholder="0.00" 
                                           name="cost" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="control-label ">
                                        <input type="checkbox" class="checkbox-inline"
                                               ng-model="vm.course.Enabled" />
                                        Enabled
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-default btn-sm pull-right" ui-sref="courses()">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</button>
                            <button type="submit" class="btn btn-primary btn-sm pull-right" ng-disabled="!vm.isDirty()" ng-click="vm.save()">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>