<div class="messages">
    <div ng-message="required">This is a required field. You can't leave it blank.</div>
    <div ng-message="minlength">Too short</div>
    <div ng-message="maxlength">Too long</div>
    <div ng-message="date">Invalid Date</div> @*from ui-bootstrap datepicker-popup*@
    <div ng-message="dateBinding">Invalid Date Format</div>
    <div ng-message="email">Invalid email address</div>
    <div ng-message="compareTo">Must match the previous entry</div>
    <div ng-message="passwordPattern">The password does not meet complexity requirements</div>
    <div ng-message="time">Invalid Time</div>
</div>